<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.womensskill">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WomensSkill">
        <activity android:name=".PostRequest"></activity>
        <activity android:name=".ProductSkillAdmin" />
        <activity android:name=".ProfileDetailAdmin" />
        <activity android:name=".AdminMain"></activity>
        <activity android:name=".AdminLogin"></activity>
        <activity android:name=".SavedProduct" />
        <activity android:name=".SavedSkill" />
        <activity android:name=".OrderDetail" />
        <activity android:name=".ProductDetail" />
        <activity android:name=".ServiceDetail" />
        <activity android:name=".HomeBuyer" />
        <activity android:name=".Chat" />
        <activity android:name=".SearchSkilllsActivity" />
        <activity android:name=".ProductFormActivity" />
        <activity
            android:name=".SkillFormActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".StorePerformanceActivity" />
        <activity android:name=".MesgChatActivity" />
        <activity android:name=".ManageSkillsOrProductActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".SkillOrderActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".MySkillOrProducts" />
        <activity android:name=".ShareMyProductActivity" />
        <activity
            android:name=".BuyersRequestActivity"
            android:parentActivityName=".ProfileDetailsActivity" />
        <activity
            android:name=".EarningActivity"
            android:parentActivityName=".ProfileDetailsActivity" />
        <activity
            android:name=".ProfileOffSellerActivity"
            android:parentActivityName=".ProfileDetailsActivity" />
        <activity android:name=".ProfileDetailsActivity" />
        <activity
            android:name=".ForgetPassword"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>